<h2>Задание 1.</h2>
<p>
  Необходимо хранить информацию о товарах (единице его измерения, виде его упаковки).
  Также необходимо хранить информацию о складах (адресе склада, наличие на нем
  специализированной техники, площади склада). Товар может перемещается со склада на
  склад.
</p>

<h2>
  <%= link_to 'Склады', stores_path %>
</h2>

<h2>
  <%= link_to 'Товары', products_path %>
</h2>

<h2>
  <%= link_to 'Виды упаковки', kind_of_packings_path %>
</h2>
<hr>
<h2>Задание 2.</h2>
<p> Реализовать приложение:

  1. В GET-запросе приходит строка

  2. Если новая строка начинается с символа, которым заканчивается текущая
  строка, то текущей строке присваивается новая строка, которая пришла в
  GET

  3. В ответе выводится текущая строка</p>
<h2><%= link_to 'Go', game_in_towns_index_path %></h2>


