<h2>Задание 1.</h2>
<p>
  Необходимо хранить информацию о товарах (единице его измерения, виде его упаковки).
  Также необходимо хранить информацию о складах (адресе склада, наличие на нем
  специализированной техники, площади склада). Товар может перемещается со склада на
  склад.
</p>

<h2>
  <%= link_to 'Склады', stores_path %>
</h2>

<h2>
  <%= link_to 'Товары', products_path %>
</h2>

<h2>
  <%= link_to 'Виды упаковки', kind_of_packings_path %>
</h2>


