<h1>Editing History Transfer Of Product</h1>

<%= render 'form', history_transfer_of_product: @history_transfer_of_product %>

<%= link_to 'Show', @history_transfer_of_product %> |
<%= link_to 'Back', history_transfer_of_products_path %>
